@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,700&display=swap');

/* шапка и подвал */
header, footer {
    height: 100px;
    background-color: rgb(16, 87, 63);
    font-family: 'Ubuntu' 'Arial', sans-serif;
    color: rgb(253, 249, 249);
}

/* шапка */
.menu {
    border: 2px solid black;
    position: relative;
    display: flex;
}
.navigate {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-end; 
    align-items: center; 
}
.navigate a {
    font-family: 'Ubuntu' 'Arial', sans-serif;
    color: ghostwhite;
    margin: 0 20px;
    text-decoration: none;
    text-transform: uppercase;
}

/* основная часть */
.main {
    background-color: gray;
    height: 700px;
}