<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My site</title>
    <link rel="stylesheet" href="static/style.css">
    
    <!-- <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,700;1,300&display=swap" rel="stylesheet">  -->

</head>
<body>
    
    <header class="menu">
        <h1>Stark Inc</h1> 
        <!-- навигация -->
        <div class="navigate">
            <div><a href="{{ url_for('index_page') }}">Home</a></div>
            <div><a href="{{ url_for('product_page') }}">Product</a></div>
            <div><a href="{{ url_for('contact_page') }}">Contact</a></div>
        </div>
    </header>

    <!-- основная часть должна быть внутри директив --> 
    <div class="main">
        {% block main %}

        {% endblock %}
    </div>
    

    <footer>
        <h2>Подвал</h2>
    </footer>

</body>
</html>